.empty__page {
    width: 327px;
    height: 366.27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 120px 0 330px;
    gap: 32px;
    position: relative;
    left: 40%;
}
figure {
    margin: 0;
}
.empty__page_icon {
    width: 240px;
    height: 230.27px;
}

.empty__page_text {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #343a40;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 32px;
}

.empty__page_btn {
    width: 164px;
    height: 42px;
    display: flex;
    justify-content: center;
    background: #deecff;
    color: #3b7cd3;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px 24px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
}
