@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Poppins:wght@600&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

.favorites__list {
    width: 773px;
    height: 596px;
    margin: 40px auto 180px;
}

