select {
    max-width: 275px;
    max-height: 42px;
    width: 275px;
    height: 42px;
    border: 1px solid #d5d6dc;
    border-radius: 5px;
    outline: none;
    padding: 0 0 0 6px;
    color: #acadb9;
    font-size: 14px;
}
select:hover {
    border: 1px solid #5e96fc;
    transition: cubic-bezier(1, 0, 0, 1) 0.3s all;
}
select:focus {
    border: 1px solid #5e96fc;
}

.title {
    font-style: normal;
    font-weight: 700;
}
