@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Poppins:wght@600&display=swap');

* {
    font-family: 'Inter', inherit;
}
.vacancy {
    min-width: 773px;
    max-width: 773px;
    color: #232134;
    display: flex;
    margin: 40px auto 51px;
}

.vacancy__header {
    font-weight: 700;
    margin-bottom: 20px;
    border: 1px solid #eaebed;
    border-radius: 12px;
    background: #ffffff;
    height: 137px;
    padding: 24px;
}
.vacancy__description {
    background: #ffffff;
    border: 1px solid #eaebed;
    border-radius: 12px;
    padding: 24px;
}

.vacancy__description_child {
    color: black;
}
